{{ `<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
  <![endif]-->` | safeHTML }}

{{ `<!--[if lte IE 11]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.js"></script>
  <![endif]-->` | safeHTML }}

<!-- IEdge 9-14, Android < 5, Safari < 10 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js"></script>

<!-- Smooth Scroll with closest & requestAnimationFrame Polyfills -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.1/smooth-scroll.polyfills.min.js"></script>
